body{
	background-color:#424949;
}

label{
	cursor: pointer;
	color:white;
}

h1{
	color:white;
}

h2{
	margin-left:40%;
	margin-top:5em;
	color:white;
}

h2:nth-of-type(2){
	margin-top:-15em;
}

h2:nth-of-type(3){
	position:relative;
	top:-18em;
	margin-left:30%;
}

h2:nth-of-type(4){
	position:relative;
	top:-37em;
}

input{
  display:none;
}

.carousel3 img:hover{
	cursor: pointer;
}

.carousel1, .carousel2, .carousel3, .carousel4{
  position:relative;
  width:800px;
  height:685px;
  left:300px;
  top:225px;
  margin-left:10%;
  border:5px solid black;
  margin-top:30em;

}

.carousel1 {
	position:relative;
	border:10px solid black;
	top:-27em;
	overflow:hidden;
}

.carousel2{
  position:relative;
  border:10px solid blue;
  top:-25em;
}

.carousel3 {
	position:relative;
	border:10px solid green;
	top:-52em;
}

.carousel4{
	position:relative;
	border:10px solid red;
	top:-82em;
}

.carousel1 > img,
.carousel2 > img,
.carousel3 > img,
.carousel4 >img {
  visibility: hidden;
  position:absolute;
  left:16%;
  top:20%;
  z-index:2;
  height:400px;

  width:570px;
} 

.carousel1 > input:checked + img,
.carousel2 > input:checked + img,
.carousel3 > input:checked + img{
  visibility: visible;
}


.carousel1 > img{
  visibility:visible;
  display:inline-block;
  z-index:-100;
  transform: translateX(-50em);
  transition: all 0.5s;
}

.carousel1 > input:checked + img{
    z-index:0;
	transform: translateX(0em);
	transition: all 2s;
}


.carousel4 > img{
  visibility:visible;
  opacity:0;
  transition: all 5s;
}

.carousel4 > input:checked + img{
	opacity:1;
	transition: all 5s;
}




.fa-circle-o{
  color:transparent;
  background-color:grey;
  border-radius:50%;
}

.carousel1 input:nth-of-type(1):checked ~  div.radioLabels  label:nth-of-type(1) > .fa-circle-o,
.carousel1 input:nth-of-type(2):checked ~  div.radioLabels  label:nth-of-type(2) > .fa-circle-o,
.carousel1 input:nth-of-type(3):checked ~  div.radioLabels  label:nth-of-type(3) > .fa-circle-o,
.carousel1 input:nth-of-type(4):checked ~  div.radioLabels  label:nth-of-type(4) > .fa-circle-o,
.carousel2 input:nth-of-type(1):checked ~  div.radioLabels  label:nth-of-type(1) > .fa-circle-o,
.carousel2 input:nth-of-type(2):checked ~  div.radioLabels  label:nth-of-type(2) > .fa-circle-o,
.carousel2 input:nth-of-type(3):checked ~  div.radioLabels  label:nth-of-type(3) > .fa-circle-o,
.carousel2 input:nth-of-type(4):checked ~  div.radioLabels  label:nth-of-type(4) > .fa-circle-o,
.carousel3 input:nth-of-type(1):checked ~  div.radioLabels  label:nth-of-type(1) > .fa-circle-o,
.carousel3 input:nth-of-type(2):checked ~  div.radioLabels  label:nth-of-type(2) > .fa-circle-o,
.carousel3 input:nth-of-type(3):checked ~  div.radioLabels  label:nth-of-type(3) > .fa-circle-o,
.carousel3 input:nth-of-type(4):checked ~  div.radioLabels  label:nth-of-type(4) > .fa-circle-o,
.carousel4 input:nth-of-type(1):checked ~  div.radioLabels  label:nth-of-type(1) > .fa-circle-o,
.carousel4 input:nth-of-type(2):checked ~  div.radioLabels  label:nth-of-type(2) > .fa-circle-o,
.carousel4 input:nth-of-type(3):checked ~  div.radioLabels  label:nth-of-type(3) > .fa-circle-o,
.carousel4 input:nth-of-type(4):checked ~  div.radioLabels  label:nth-of-type(4) > .fa-circle-o{

  background-color:white;
  color:transparent;
} 


.carousel1 > .chevronLabels label[class="right"],
.carousel2 > .chevronLabels label[class="right"],
.carousel3 > .chevronLabels label[class="right"],
.carousel4 > .chevronLabels label[class="right"]{
    position:absolute;
        top:300px;
        left:750px;
        display:none;

}

.carousel1 > .chevronLabels label[class="left"],
.carousel2 > .chevronLabels label[class="left"],
.carousel3 > .chevronLabels label[class="left"],
.carousel4 > .chevronLabels label[class="left"]{
  position:absolute;
  top:300px;
  left:50px;
    display:none;
}


.carousel1 > .radioLabels,
.carousel2 > .radioLabels,
.carousel3 > .radioLabels,
.carousel4 > .radioLabels{
  position:absolute;
  top:540px;
  left:310px;
  z-index:2;  
}

.carousel1 > .radioLabels label,
.carousel2 > .radioLabels label,
.carousel3 > .radioLabels label,
.carousel4 > .radioLabels label{
  display:inline;
  float:left;
  padding:10px;

} 


.carousel1 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(1),
.carousel1 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(2),
.carousel1 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(3),
.carousel1 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(4),
.carousel1 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(5),
.carousel1 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(6),
.carousel1 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(7),
.carousel1 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(8),
.carousel2 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(1),
.carousel2 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(2),
.carousel2 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(3),
.carousel2 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(4),
.carousel2 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(5),
.carousel2 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(6),
.carousel2 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(7),
.carousel2 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(8),
.carousel3 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(1),
.carousel3 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(2),
.carousel3 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(3),
.carousel3 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(4),
.carousel3 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(5),
.carousel3 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(6),
.carousel3 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(7),
.carousel3 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(8),
.carousel4 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(1),
.carousel4 > input:nth-of-type(1):checked  ~  .chevronLabels label:nth-of-type(2),
.carousel4 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(3),
.carousel4 > input:nth-of-type(2):checked  ~  .chevronLabels label:nth-of-type(4),
.carousel4 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(5),
.carousel4 > input:nth-of-type(3):checked  ~  .chevronLabels label:nth-of-type(6),
.carousel4 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(7),
.carousel4 > input:nth-of-type(4):checked  ~  .chevronLabels label:nth-of-type(8){
  display:block;
}


