
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
section
{
  background: #EFF5FB;
  padding: 10px;
  border: dashed 2px maroon;
  margin: auto;
  width: 60%;
  text-align: center;
}

.md-btn {
  font-size: 1.8rem;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 3.6rem;
  line-height: 3.6rem;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #FFFFFF;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.md-bg-light-blue {
  background-color: #26a69a;
}

.md-btn.md-bg-light-blue:hover {
  background-color: #2bbbad;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.md-bg-purple {
  background-color: rgba(156, 39, 176, 0.7);
}

.md-btn.md-bg-purple:hover {
  background-color: rgba(185, 35, 203, 0.7);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.md-bg-orange {
  background-color: rgba(181, 109, 0, 0.7);
}

.md-btn.md-bg-orange:hover {
  background-color: rgba(199, 127, 0, 0.7);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.md-bg-red {
  background-color: rgba(184, 38, 23, 0.7);
}

.md-btn.md-bg-red:hover {
  background-color: rgba(212, 42, 25, 0.7);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.md-bg-dark {
  background-color: rgba(54, 70, 86, 0.7);
}

.md-btn.md-bg-dark:hover {
  background-color: rgba(70, 91, 112, 0.7);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* The necessities */
.md-menu {
  position: relative;
  display: inline-block;
}

.md-menu:before {
  content: "Drop Me!";
}

.md-menu:focus {
  pointer-events: none;
}

.md-menu:focus .md-menu-content {
  opacity: 1;
  visibility: visible;
}

.md-menu-content {
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;

}

.md-menu {
  padding: 0;
  outline: 0;
}

.md-menu:before {
  padding: 0.5rem 1rem;
}

.md-menu-content {
  width: auto;
  margin-top: 0.8rem;
  padding: 1.1rem;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  -o-transition: 400ms ease;
  transition: 400ms ease;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.md-menu-content li {
  color: #f2f5e9;
  list-style-type: none;
  white-space: nowrap;
  text-align: left;
}

/* style the buttons */
.md-menu-content a {
  text-transform: none;
  text-decoration: none;
  font-size: 1.2rem;
  color: inherit;
  cursor: pointer;
}

.md-menu-content a:hover {
  color: #ff8c31;
  -webkit-transition: all 160ms ease-in;
  -moz-transition: all 160ms ease-in;
  -o-transition: all 160ms ease-in;
  transition: all 160ms ease-in;
}
